/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

/*Elements you want to target go within this media query*/

}


#header {
  padding: 10px;
}

#myModal {
  width: 100%;
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }



.container {
  background-color: red;
  width: 100%;
  height: 100%;
}

#header {
    background-color: red;
}

#poster {
  width: 300px;
  height:auto;
  margin: auto;
}

body {background-image: url("../backgroundpop.jpg")}
